<footer class="block block--dark footer">
  <div class="container">
    <div class="collapsible collapsible--expanded">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">PRODUCTS</h2>
        <svg class="icon icon--white collapsible__chevron nav__toggler">
          <use xlink:href="/Images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li>WordPress Hosting</li>
          <li>form Automation WordPress</li>
          <li>Mitigation</li>
          <li>Domain Names</li>
          <li>Monthly Web Hosting</li>
        </ul>
      </div>
    </div>
    <div class="collapsible collapsible--expanded">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">COMPANY</h2>
        <svg class="icon icon--white collapsible__chevron nav__toggler">
          <use xlink:href="/Images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li>About</li>
          <li>Affiliates</li>
          <li>Blog</li>
          <li>Careers</li>
          <li>Community</li>
          <li>News</li>
          <li>Green Hosting</li>
        </ul>
      </div>
    </div>
    <div class="collapsible collapsible--expanded">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">SUPPORT</h2>
        <svg class="icon icon--white collapsible__chevron nav__toggler">
          <use xlink:href="/Images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li>Contact</li>
          <li>Knowledge Base</li>
          <li>Forums</li>
          <li>System Status</li>
          <li>Web Hosting</li>
          <li>DreamCompute</li>
        </ul>
      </div>
    </div>
    <div class="collapsible collapsible--expanded">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">Domain</h2>
        <svg class="icon icon--white collapsible__chevron nav__toggler">
          <use xlink:href="/Images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list footer__list">
          <li>Domain Checker</li>
          <li>Domain Transfer</li>
          <li>Free Domain</li>
          <li>XYZ Domain</li>
          <li>Cheap SSL Certification</li>
        </ul>
      </div>
    </div>

    <div class="footer__ending">
      <img class="footer__logo" src="./Images/logo.svg" alt="" />
      <p>Copyright &copy; 2024 Enoch</p>
    </div>
  </div>
</footer>
